.btn{
    width: 150px;
    border: #182978;
    font-size: 16px;
    font-weight: 500;
    background-color: #182978;
}
.btn:hover{
    background-color: #182a78e1;
}
td,th{
    vertical-align:middle;
    background-color: #f0f0f0;
}
th{
    
    padding: 15px;
}