<mat-tab-group class="mx-4 " >
    <mat-tab label="Users">
        <mat-tab-group>
            <mat-tab label="View Users">
                <app-user></app-user>
            </mat-tab>
            <mat-tab label="Add Users">
                <div class="add-user-container shadow mx-md-5 mx-lg-5 mx-3 ">      
                    <div class="mx-4">
                        <app-sign-up></app-sign-up>
                    </div>                    
                </div>
            </mat-tab>
            <mat-tab label="Update Users"> 
                <app-update-user></app-update-user>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Restaurants">
        <mat-tab-group>
            <mat-tab label="View Restaurants">
                <app-restaurant></app-restaurant>
            </mat-tab>
            <mat-tab label="Add Restaurants"> 
                <app-add-restaurant></app-add-restaurant>
            </mat-tab>
            <mat-tab label="Update Restaurants">
                <app-update-restaurant></app-update-restaurant>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Cart">
        <app-cart></app-cart>
        <!-- <mat-tab-group>
            <mat-tab label="View Cart">
                <app-cart></app-cart>
            </mat-tab>
            <mat-tab label="Update Cart">
                <app-update-cart></app-update-cart>
            </mat-tab>
        </mat-tab-group> -->
    </mat-tab>
    <mat-tab label="Orders">
        
        <mat-tab-group>
            <mat-tab label="View Orders">
                <app-order></app-order>
            </mat-tab>
            <mat-tab label="Update Orders">
                <app-update-order></app-update-order>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
  