<div class="row m-4">
    <div class="col-lg-6 col-12">
        <img src="../../../assets/bg.jpg" alt="home page image" class = "img-responsive" width="100%"/>
    </div>
    <div class="col d-flex flex-column justify-content-center m-4">
        <h1 class="app-name">Food<span class="to">TO</span>Order</h1>
        <h4 class="app-name-sub">It's not just <span class="to">FOOD. </span>It's <span class="to">EXPERIENCE.</span></h4>
        
        
        <div class="mt-3">
            <form  role="search" [formGroup]="searchForm">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search your favorite dishes" aria-label="Search" formControlName="search" (input)="resend()">
                    <button class="btn " type="submit" (click)="resend()">Search</button>
                </div>   
                <div class="shadow rounded" *ngIf="search.value != ''">
                    <div class="menu-div"  *ngIf="dishes$ | async as results">
                        <div  class="menu-items"  *ngFor="let d of results" >{{d.name}}</div> 
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
<div class="row m-4 p-4 top-picks">
    <div class="col-md-9  mx-auto">
        <h2><span>Top picks for you</span></h2>
        <div class="row">
            <div class="col-4 mx-auto ">
                <div class="img-box">
                    <img src="../../../assets/restaurants/smoor.jpeg" class="img-fluid" alt="">
                    <h6 class="text-center mt-2">Smoor</h6>
                </div>
               
            </div>
            <div class="col-4 mx-auto ">
                <div class="img-box">
                    <img src="../../../assets/restaurants/thalassery.jpeg" class="img-fluid" alt="">
                    <h6 class="text-center mt-2">Thalassery</h6>
                </div>
               
            </div>
            <div class="col-4 mx-auto ">
                <div class="img-box">
                    <img src="../../../assets/restaurants/asha-tiffins.jpeg" class="img-fluid" alt="">
                    <h6 class="text-center mt-2">Asha Tiffins</h6>
                </div>    
            </div>    
        </div>  
    </div>
</div>

<div class="row m-4 p-4 justify-content-center">
    <h2>We'd love to hear from you</h2>
    <button class="btn btn-feedback" routerLink="/contactus">Send feedback</button>
</div>

