.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .mat-tab-label, .mat-tab-link {
    color: rgba(0,0,0,.87) !important;
}
.btn{
  width: 100px;
  border: #182978;
  font-size: 16px;
  font-weight: 500;
  background-color: #182978;
  color: #f0f0f0 !important;
}
.btn:hover{
  background-color: #182a78e1;
}