#app-component{
    min-height: 100vh;
    
}
#banner-div{
    min-height: 8vh;
    background-color: #d4ddf0;
    
}
#content-div{
    min-height: 82vh ;
    background-color: #d4ddf0;
}

#footer-div{
    height: 20vh;
    background-color: #182978 !important;
    padding-top: 25px;
    color: #EAE7DC;
}

