.btn{
    
    border: #182978;
    font-size: 16px;
    font-weight: 500;
    background-color: #182978;
    color: #f0f0f0;
    width: 300px;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
}
.btn:hover{
    background-color: #182a78e1;
    color: #f0f0f0;
}