.btn-outline-secondary{
    
    border: #182978;
    font-size: 16px;
    font-weight: 500;
    background-color: #182978;
}
.btn-outline-secondary:hover{
    background-color: #182a78ac;
}
.form-control{
    border: none;
}
.btn-primary{
    width: 150px;
    border: #182978;
    font-size: 16px;
    font-weight: 500;
    background-color: #182978;
}
.btn-primary:hover{
    background-color: #182a78e1;
}