<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="saveFirstStepData(firstFormGroup)">
        
        <div class="form-group mb-3">
            <label class="form-label" for="order_id"> Select a order id for updating : </label>
            <select class="form-select" id="order_id" formControlName="order_id" (change)="onChangeType($event)">
                <option selected>Select a value</option>
                <option *ngFor="let u of arrOrder;" [ngValue]="u.id">{{u.id}}</option>
            </select>
        </div> 

        <mat-form-field class="m-2">
          <mat-label>User Id</mat-label>
          <input matInput placeholder="User Id" value="{{order.userid}}" readonly>
        </mat-form-field>
          
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="dishesForm" label="Fill dish details">
      <form [formGroup]="dishesForm" (ngSubmit)="saveThirdStepData(dishesForm.value)">
        <mat-toolbar color="primary" class="my-2">Change quantities of dishes</mat-toolbar>
        <div formArrayName="form_array_dishes">
          <div class="row" *ngFor="let dish of form_array_dishes().controls;let i = index" [formGroupName]="i">
            <mat-form-field class="col-3">
              <mat-label>Dish Name</mat-label>
              <input matInput formControlName="name" placeholder="Name" readonly>
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" placeholder="Price" >
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Quantity</mat-label>
              <input matInput formControlName="quantity" placeholder="Quantity">
            </mat-form-field>
            <mat-form-field class="col-3">
              <mat-label>Image Path</mat-label>
              <input matInput formControlName="imagesrc" placeholder="Image Src" readonly>
            </mat-form-field>
            
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Save</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

